/*prettier-ignore*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:100,400,700);
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

body {
    background-image: url('../images/header.jpg');
    background-color: #cccccc;
    font-size: 12px;
    font-family: 'Open Sans';
    font-weight: 100;
    overflow: hidden;
    background-repeat: no-repeat;   
    background-position: center;
    background-size: cover;
    
}

input {
  width: 80%;
  background: transparent;
  display: block;
  border: none;
  color: white;
  border-bottom: 1px solid white;
  margin: auto;
  margin-top: 20px;
  padding: 10px;
}

input[type="submit"] {
  border: 1px solid white;
  width: 40%;
  margin: auto;
  margin-top: 25px;
}

button {
  width: 40%;
  background: transparent;
  display: block;
  border: none;
  color: white;
  border: 1px solid white;
  margin: auto;
  margin-top: 25px;
  padding: 10px;
}

progress {
	width:300px;
	margin-top: 15px;
}

a:link {
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
}

html,
body,
.grid-container {
  height: 100%;
  margin: 0;
}

.grid-container * {
  position: relative;
}

.grid-container *:after {
  position: absolute;
  top: 0;
  left: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: 0.3fr 3.2fr 0.4fr;
  grid-template-rows: 0.5fr 2.2fr 0.3fr;
  grid-template-areas: "menu topBar topBar" "menu content sideBarR" "menu footer footer";
}

.header { grid-area: header; min-height: 100px; margin-top: 20px; font-size: 30px;}
.image-parameters { grid-area: imgparameters; margin-top: 40px; font-size: 20px; }
.image-itself { grid-area: imageitself;}
.clusters-cont { grid-area: nodes; margin-top: 40px; font-size: 20px;}
.buttons-cont { grid-area: buttons;}
.history-button { grid-area: historybutton; align:right; vertical-align: top; }

.task-container{
	display: grid;
	text-align: center; 
	color: white;
	grid-gap: 10px;
	grid-template-areas:
    'empty header historybutton'
    'imgparameters imageitself nodes'
	'buttons buttons buttons';
	grid-template-columns: 430px 600px 430px;
}

.tasks-header { grid-area: tasks-header;  margin-top: 20px; font-size: 30px;}
.task-table-header { grid-area: table-of-tasks-header;  margin-top: 20px;}
.task-table-rows { grid-area: table-of-tasks-rows;  margin-top: 20px; max-height: 400px; width: 102.5%;}
.buttons-cont { grid-area: buttons;}

.list-container{
	display: grid;
	text-align: center; 
	color: white;
	grid-gap: 10px;
	grid-template-areas:
    'tasks-header'
    'table-of-tasks-header'
    'table-of-tasks-rows'
	'buttons';
}

.content {
  grid-area: content;
  display: flex;
  justify-content: center;
}

.logo {
    width: 20vw;
    height: 25vh;
    color: white;
    font-size: 50px;
    font-style: inherit;
    margin-left: 5vw;
    text-align: center;
}

.login { 
    width: 30vw;
    height: 100%;
    padding: 15px;
    background: black;
    opacity: 0.7;
    display: block;
    justify-content: center;
    margin: auto;
    animation: scale-up-center 1.5 1;
    z-index: 2;
}

.login a {
    text-decoration: none;
    color: white;
}

.topBar { grid-area: topBar; }

.footer {
  grid-area: footer;
}

.sideBarR { grid-area: sideBarR; }
  
@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

td,
th {
  border: 1px solid #999;
  padding: 1.5rem;
  width: 120px;
}

.date
{
	width: 250px;
}

p
{
	margin-top: 20px;
	text-align: left;
}

p b
{
	margin-left: 30px;
}

p input
{
	margin-top: 5px;
}

.row tbody tr.highlight td {
  background-color: #ccc;
}
