
.icon-home-outline:before { content: '\e800'; } /* '' */
.icon-login:before { content: '\e801'; } /* '' */
.icon-database-1:before { content: '\e802'; } /* '' */
.icon-tasks-1:before { content: '\e803'; } /* '' */
.icon-th-large-outline:before { content: '\e804'; } /* '' */
.icon-menu-outline:before { content: '\e805'; } /* '' */
.icon-list:before { content: '\e806'; } /* '' */
.icon-tasks:before { content: '\f0ae'; } /* '' */
.icon-database:before { content: '\f1c0'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */