<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
	<meta charset="utf=8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<link href="../../static/styles/style.css" rel="stylesheet" type="text/css" />
	<link href="../../static/styles/menu.css" rel="stylesheet" type="text/css" />
	<link href="../../static/styles/task_manager.css" rel="stylesheet" type="text/css" />
	<link href="../../static/fontello-b51b9e18/css/fontello.css" rel="stylesheet" type="text/css" />
	<title>Fractality</title>
  <script data-require="jquery" data-semver="2.1.4" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
  <script>
	   $(window).on('load', function clearUrl() {
           window.history.pushState('', '', '/');
           $('.invisible').hide();
         });
		$(function() {
		  $('#taskTable').on('click', 'tbody tr', function(event) {
			$(this).addClass('highlight').siblings().removeClass('highlight');
			$('#task_id_input').val(getHighlightRowId());
			console.log(getHighlightRowId())
		  });
		});
	    function getHighlightRowId(){
        return $('table > tbody > tr.highlight > td.id').html();
        }
  </script>
</head>
<body>
	<div class="content">
		<div class="list-container">
			<div class="tasks-header">
				History of fractals
			<div>
			<div class="task-table" style="overflow-y: auto;">
				<table id="taskTable" class="row" align="center" style="font-size: 20px">
					<tbody>
						<tr style="background-color: #ffffff; color: black;">
							<th><b>Date</b></th>
							<th><b>Resolution</b></th>
							<th><b>Number of iterations</b></th>
							<th><b>Quarter</b></th>
							<th><b>Duration</b></th>
							<th><b>Id</b></th>
			            {% for task in data %}
                        <tr id="row">
							<td>{{task.date}}</td>
							<td>{{task.parameter1}}</td>
							<td>{{task.parameter2}}</td>
							<td>{{task.parameter3}}</td>
							<td>20s</td>
							<td class="id">{{task.id}}</td>
                        {% endfor %}
					</tbody>
				</table>
			</div>
			<div class="buttons-cont">
				<form method="get" action="task/">
					<input name="user_id" class="invisible" value="{{user_id}}"/>
					<input name="task_id" class="invisible" id="task_id_input"/>
					<input type="submit" value="Go to selected fractal"/>
				</form>
				<form method="get" action="task/">
					<input name="user_id" class="invisible" value="{{user_id}}"/>
					<input name="task_id" class="invisible" value="0"/>
					<input type="submit" value="Generate new fractal"/>
				</form>
			</div>
		</div>
	</div>
</body>

</html>